.strip {
  background-color: rgba(0, 0, 0, 0.2);
  padding-bottom: 5vh;
  display: flex;
  height: 1.6vh;
  width: 100%;
  position: fixed;
  z-index: 0;
}

.Container {
  padding-top: 20vh;
  margin-left: 30%;

  h5 {
    font-size: 8rem;
    margin: 10px;

  }

  h1 {
    font-size: 8rem;
  }
}

@media (max-width: 900px) {
  .Container {
    padding-top: 10vh;
    margin-left: 20%;

    h5 {
      font-size: 5rem;
      margin: 10px;
    }

    h1 {
      font-size: 4.5rem;
    }
  }
}


.landContainer {
  height: 3vh;
  

  img {
    max-height: 100%;
  }
}

.rows {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  align-items: center
}

.heading {
  margin-left: spacing(50);
  height: 10vh;
}

@media (max-width: 768px) {
.heading {
  margin-left: spacing(10);
}}

@media (max-width: 768px) {
  .Container {
    h1 {
      font-size: 2.5rem;
    }
    h5 {
      font-size: 3.5rem;
    }
  }
}

